@using LTCSDL.DTO;
@model List<CategoryDTO>
@{
    ViewBag.Title = "Category";
}

<h2>Danh sách các Danh mục sản phẩm (Loại sản phẩm)</h2>
<table class="table table-condensed">
    <tr>
        <td>Category ID</td>
        <td>Category Name</td>
        <td>Category Description</td>
    </tr>
</table>

